<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="../static/css/global.css" rel="stylesheet">
<link href="../static/dialog/dialog.css" rel="stylesheet">
<script type="text/javascript" src="../static/lib/jquery.min.js"></script>
<script type="text/javascript" src="../static/lib/zq.common.js"></script>

</head>
<body>
<!--bar-->
<div class="zq-topbar">
	<div class="zq-topbar-wrap zq-width">
		<div class="zq-topbar-l">
			<a class="zq-index" href=""><i class="zq-ico zq-ico-index"></i><em>官网首页</em></a>
			<a href="">登录</a>
			<span>|</span>
			<a href="">注册</a>
		</div>
		<div class="zq-topbar-r">
			<a href=""><i class="zq-ico zq-ico-shopping"></i><em>购物车（0）</em></a>
			<span>|</span>
			<a href="">服务与支持</a>
			<span>|</span>
			<a href="">全国服务网络</a>
			<span>|</span>
			<a href=""><i class="zq-ico zq-ico-hotline"></i><em>400-660-5555</em></a>
		</div>
		<div class="clear"></div>
	</div>	
</div> 
<!--bar end-->
<!--nav-->
<div class="zq-nav">
	<div class="zq-nav-wrap zq-width">
		<div class="zq-nav-l"><a href="" class="zq-nav-index">首页</a></div>
		<div class="zq-nav-r">
			<a class="active" href="">电商企业</a>
			<a href="">营销推广</a>
			<a href="">企业应用</a>
			<a href="">行业方案</a>
			<a href="">案例中心</a>
			<a href="">关于中企</a>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!--nav end-->  
<!--banner-->
<div class="zq-banner">
	<ul class="DB_bgSet">
     	<li style="background:url('http://www.300.cn//skin/zqdl/images/guoqingbanner.jpg');"><a href=""></a></li> 	
     </ul>	
</div>
<!--banner end-->
<!--whygood-->
<div class="zq-whygood">
	<div class="zq-whygood-wrap zq-width">
		<div class="zq-whygood-t">高端设计能为您带来什么</div>
		<div class="zq-whygood-cont"></div>
	</div>
</div>
<!--whygood end-->
<!--service-->
<div class="zq-service">
	<div class="zq-service-wrap zq-width">
		<!--服务描述-->
		<div class="zq-service-desc">
			<div class="zq-service-desc-l">
				<div class="zq-service-desc-map"></div>
			</div>
			<div class="zq-service-desc-r">
				<div class="zq-service-desc-t">您的信心来源！</div>
				<div class="zq-service-desc-p">
					<p>中企动力在全国有500名优秀设计师，200名顶尖资深设计师为您量身打造品牌网站</p>
					<p>中企动力有16年的行业经验累积，服务超过30万客户</p>
					<p>中企动力在全国70多个城市，有近80家分公司</p>
				</div>
				<div class="zq-service-desc-b"><a class="zq-btn-blue zq-service-btn" href="javascript:void(0);"><span><em>预约专家免费咨询</em></span></a></div>
			</div>
			<div class="clear"></div>
		</div>
		<!--服务描述 结束-->
		<!--服务列表-->
		<div class="zq-service-form">
			<table border="0" cellpadding="0" cellspacing="1">
				<tr class="zq-service-bg">
					<td class="zq-service-form-no">A</td>
					<td><a href="">北京</a></td>
					<td>保定</td>
					<td>保定</td>	
					<td>保定</td>	
					<td>保定</td>	
					<td>保定</td>	
					<td>保定</td>	
					<td>保定</td>	
					<td>保定</td>		
				</tr>
				<tr>
					<td class="zq-service-form-no">B</td>
					<td><a href="">北京</a></td>
					<td>保定</td>
					<td>保定</td>	
					<td>保定</td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>		
				</tr>
				<tr class="zq-service-bg">
					<td class="zq-service-form-no">C</td>
					<td><a href="">北京</a></td>
					<td>保定</td>
					<td>保定</td>	
					<td>保定</td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>		
				</tr>
				<tr>
					<td class="zq-service-form-no">B</td>
					<td><a href="">北京</a></td>
					<td>保定</td>
					<td>保定</td>	
					<td>保定</td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>		
				</tr>
				<tr class="zq-service-bg">
					<td class="zq-service-form-no">C</td>
					<td>北京</td>
					<td>保定</td>
					<td>保定</td>	
					<td>保定</td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>		
				</tr>
				<tr>
					<td class="zq-service-form-no">B</td>
					<td>北京</td>
					<td>保定</td>
					<td>保定</td>	
					<td>保定</td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>		
				</tr>
				<tr class="zq-service-bg">
					<td class="zq-service-form-no">C</td>
					<td>北京</td>
					<td>保定</td>
					<td>保定</td>	
					<td>保定</td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>		
				</tr>
				<tr>
					<td class="zq-service-form-no">B</td>
					<td><a href="">北京</a></td>
					<td>保定</td>
					<td>保定</td>	
					<td>保定</td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>		
				</tr>
				<tr class="zq-service-bg">
					<td class="zq-service-form-no">C</td>
					<td><a href="">北京</a></td>
					<td>保定</td>
					<td>保定</td>	
					<td>保定</td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>		
				</tr>
				<tr>
					<td class="zq-service-form-no">B</td>
					<td>北京</td>
					<td>保定</td>
					<td>保定</td>	
					<td>保定</td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>		
				</tr>
				<tr class="zq-service-bg">
					<td class="zq-service-form-no">C</td>
					<td>北京</td>
					<td>保定</td>
					<td>保定</td>	
					<td>保定</td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>	
					<td></td>		
				</tr>
			</table>
		</div>
		<!--服务列表 结束-->
	</div>
</div>
<!--service end-->
<!--products-->
<div class="zq-products">
	<div class="zq-products-wrap zq-width">
		<div class="zq-products-tab">
			<a href="javascript:void(0);"><span>PC官网设计服务</span><i></i></a>
			<a class="active" href="javascript:void(0);"><span>移动官网设计服务</span><i></i></a>
		</div>
		<div class="zq-products-cont">
			<!--PC-->
			<div class="zq-products-item">
				<div class="zq-products-item-t">
					<a href="">查看对应设计服务套餐>></a>
					<a href="">查看对应设计服务套餐>></a>
				</div>
				<div class="zq-products-item-c">
					<div class="zq-products-item-wrap">
						<!--list-->
						<div class="zq-products-item-list">
							<div class="zq-products-item-img"><img src="../static/images/products-1.gif"></div>
							<div class="zq-products-item-text">
								<div class="zq-products-item-text-t">指定设计师服务</div>
								<div class="zq-products-item-text-desc">中企动力的高级设计师、资深设计师都是拿过设计大赛奖项，并且从业年限五年以上，创意设计规划经验丰富。可根据客户需求策划网站，提供设计策划创意理念。</div>
							</div>
						</div>
						<!--list end-->
						<!--list-->
						<div class="zq-products-item-list">
							<div class="zq-products-item-img"><img src="../static/images/products-2.gif"></div>
							<div class="zq-products-item-text">
								<div class="zq-products-item-text-t">形象首页</div>
								<div class="zq-products-item-text-time">3-5个工作日</div>
								<div class="zq-products-item-text-desc">根据企业品牌VI整体风格，进行网站整站风格创意设计，使用在网站首页和各频道页。</div>
								<div class="zq-products-item-text-link"><a href="">查看样例</a></div>
							</div>
						</div>
						<!--list end-->
						<!--list-->
						<div class="zq-products-item-list">
							<div class="zq-products-item-img"><img src="../static/images/products-3.gif"></div>
							<div class="zq-products-item-text">
								<div class="zq-products-item-text-t">内容页面(PC官网)</div>
								<div class="zq-products-item-text-time">3-5个工作日</div>
								<div class="zq-products-item-text-desc">根据企业网站展示内容的需要，定制设计独特的内容展示区创意。</div>
								<div class="zq-products-item-text-link"><a href="">查看样例</a></div>
							</div>
						</div>
						<!--list end-->
						<!--list-->
						<div class="zq-products-item-list">
							<div class="zq-products-item-img"><img src="../static/images/products-1.gif"></div>
							<div class="zq-products-item-text">
								<div class="zq-products-item-text-t">指定设计师服务</div>
								<div class="zq-products-item-text-desc">中企动力的高级设计师、资深设计师都是拿过设计大赛奖项，并且从业年限五年以上，创意设计规划经验丰富。可根据客户需求策划网站，提供设计策划创意理念。</div>
							</div>
						</div>
						<!--list end-->
						<!--list-->
						<div class="zq-products-item-list">
							<div class="zq-products-item-img"><img src="../static/images/products-2.gif"></div>
							<div class="zq-products-item-text">
								<div class="zq-products-item-text-t">形象首页</div>
								<div class="zq-products-item-text-time">3-5个工作日</div>
								<div class="zq-products-item-text-desc">根据企业品牌VI整体风格，进行网站整站风格创意设计，使用在网站首页和各频道页。</div>
								<div class="zq-products-item-text-link"><a href="">查看样例</a></div>
							</div>
						</div>
						<!--list end-->
						<!--list-->
						<div class="zq-products-item-list">
							<div class="zq-products-item-img"><img src="../static/images/products-3.gif"></div>
							<div class="zq-products-item-text">
								<div class="zq-products-item-text-t">内容页面(PC官网)</div>
								<div class="zq-products-item-text-time">3-5个工作日</div>
								<div class="zq-products-item-text-desc">根据企业网站展示内容的需要，定制设计独特的内容展示区创意。</div>
								<div class="zq-products-item-text-link"><a href="">查看样例</a></div>
							</div>
						</div>
						<!--list end-->
						<!--list-->
						<div class="zq-products-item-list">
							<div class="zq-products-item-img"><img src="../static/images/products-1.gif"></div>
							<div class="zq-products-item-text">
								<div class="zq-products-item-text-t">指定设计师服务</div>
								<div class="zq-products-item-text-desc">中企动力的高级设计师、资深设计师都是拿过设计大赛奖项，并且从业年限五年以上，创意设计规划经验丰富。可根据客户需求策划网站，提供设计策划创意理念。</div>
							</div>
						</div>
						<!--list end-->
						<!--list-->
						<div class="zq-products-item-list">
							<div class="zq-products-item-img"><img src="../static/images/products-2.gif"></div>
							<div class="zq-products-item-text">
								<div class="zq-products-item-text-t">形象首页</div>
								<div class="zq-products-item-text-time">3-5个工作日</div>
								<div class="zq-products-item-text-desc">根据企业品牌VI整体风格，进行网站整站风格创意设计，使用在网站首页和各频道页。</div>
								<div class="zq-products-item-text-link"><a href="">查看样例</a></div>
							</div>
						</div>
						<!--list end-->
						<!--list-->
						<div class="zq-products-item-list">
							<div class="zq-products-item-img"><img src="../static/images/products-3.gif"></div>
							<div class="zq-products-item-text">
								<div class="zq-products-item-text-t">内容页面(PC官网)</div>
								<div class="zq-products-item-text-time">3-5个工作日</div>
								<div class="zq-products-item-text-desc">根据企业网站展示内容的需要，定制设计独特的内容展示区创意。</div>
								<div class="zq-products-item-text-link"><a href="">查看样例</a></div>
							</div>
						</div>
						<!--list end-->
						<div class="clear"></div>
					</div>	
				</div>
			</div>
			<!--PC end-->
			<div class="zq-products-item" style="display:none"></div>
		</div>
	</div>
</div>
<!--products end-->
<!--process-->
<div class="zq-process">
	<div class="zq-process-wrap zq-width">
		<div class="zq-process-t">服务流程</div>
		<div class="zq-process-c">
			<div class="zq-process-line"></div>
			<div class="zq-process-items">
				<span><em>1</em><i></i><strong>了解客户需求</strong></span>
				<span><em>2</em><i></i><strong>按客户需求制定建站方案</strong></span>
				<span><em>3</em><i></i><strong>根据建站方案提供报价方案</strong></span>
				<span><em>4</em><i></i><strong>了解客户需求</strong></span>
				<span><em>5</em><i></i><strong>按客户需求制定建站方案</strong></span>
				<span><em>6</em><i></i><strong>根据建站方案提供报价方案</strong></span>
				<span><em>7</em><i></i><strong>了解客户需求</strong></span>
				<span><em>8</em><i></i><strong>按客户需求制定建站方案</strong></span>
				<span><em>9</em><i></i><strong>根据建站方案提供报价方案</strong></span>
				<span><em>10</em><i></i><strong>根据建站方案提供报价方案</strong></span>
			</div>
		</div>
	</div>	
</div>
<!--process end-->
<!--serviceCont-->
<div class="zq-serviceCont">
	<div class="zq-serviceCont-wrap zq-width">
		<div class="zq-serviceCont-t">服务内容</div>
		<div class="zq-serviceCont-cont">
			<div class="zq-serviceCont-cont-wrap">
				<!--list-->
				<div class="zq-serviceCont-item">
					<div class="zq-serviceCont-item-img"><img src="../static/images/service-cont-1.gif" /></div>
					<div class="zq-serviceCont-item-t">经济型</div>
					<div class="zq-serviceCont-item-desc">适用于企业展示的内容不多的企业</div>
					<div class="zq-serviceCont-item-btn"><a href="" class="zq-btn-nobg"><span><em>查看案例</em></span></a></div>
				</div>
				<!--list end-->
				<!--list-->
				<div class="zq-serviceCont-item">
					<div class="zq-serviceCont-item-img"><img src="../static/images/service-cont-2.gif" /></div>
					<div class="zq-serviceCont-item-t">标准型</div>
					<div class="zq-serviceCont-item-desc">适用于中小规模或初创型企业，以展示产品、介绍服务为主</div>
					<div class="zq-serviceCont-item-btn"><a href="" class="zq-btn-nobg"><span><em>查看案例</em></span></a></div>
				</div>
				<!--list end-->
				<!--list-->
				<div class="zq-serviceCont-item">
					<div class="zq-serviceCont-item-img"><img src="../static/images/service-cont-3.gif" /></div>
					<div class="zq-serviceCont-item-t">营销型</div>
					<div class="zq-serviceCont-item-desc">适用于以产品展示营销为主；首页展示的内容丰富；</div>
					<div class="zq-serviceCont-item-btn"><a href="" class="zq-btn-nobg"><span><em>查看案例</em></span></a></div>
				</div>
				<!--list end-->
				<!--list-->
				<div class="zq-serviceCont-item">
					<div class="zq-serviceCont-item-img"><img src="../static/images/service-cont-4.gif" /></div>
					<div class="zq-serviceCont-item-t">高端品牌型</div>
					<div class="zq-serviceCont-item-desc">适用于中等或较大规划企业，对网站的设计和功能有很高的要求</div>
					<div class="zq-serviceCont-item-btn"><a href="" class="zq-btn-nobg"><span><em>查看案例</em></span></a></div>
				</div>
				<!--list end-->
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
<!--serviceCont end-->
<!--case-->
<div class="zq-case">
	<div class="zq-case-wrap">
		<div class="zq-case-t">
			<div class="zq-case-h4">我们的案例</div>
			<div class="zq-case-desc">行业领先的性价比，打造优质高端官网，提升品牌形象，让您把钱花在刀刃上。</div>
		</div>
		<div class="zq-case-silder" id="zq-js-case-silder">
			<ul>
				<li>
					<div class="zq-case-silder-wrap">
						<div class="zq-case-silder-list"><a href=""><img src="../static/images/case-1.gif"></a></div>
						<div class="zq-case-silder-list"><a href=""><img src="../static/images/case-2.gif"></a></div>
						<div class="zq-case-silder-list"><a href=""><img src="../static/images/case-3.gif"></a></div>
						<div class="zq-case-silder-list"><a href=""><img src="../static/images/case-4.gif"></a></div>
						<div class="zq-case-silder-list"><a href=""><img src="../static/images/case-5.gif"></a></div>
					</div>
				</li>
				<li>
					<div class="zq-case-silder-wrap">
						<div class="zq-case-silder-list"><a href=""><img src="../static/images/case-1.gif"></a></div>
						<div class="zq-case-silder-list"><a href=""><img src="../static/images/case-2.gif"></a></div>
						<div class="zq-case-silder-list"><a href=""><img src="../static/images/case-3.gif"></a></div>
						<div class="zq-case-silder-list"><a href=""><img src="../static/images/case-4.gif"></a></div>
						<div class="zq-case-silder-list"><a href=""><img src="../static/images/case-5.gif"></a></div>
					</div>
				</li>
				<li>
					<div class="zq-case-silder-wrap">
						<div class="zq-case-silder-list"><a href=""><img src="../static/images/case-1.gif"></a></div>
						<div class="zq-case-silder-list"><a href=""><img src="../static/images/case-2.gif"></a></div>
						<div class="zq-case-silder-list"><a href=""><img src="../static/images/case-3.gif"></a></div>
						<div class="zq-case-silder-list"><a href=""><img src="../static/images/case-4.gif"></a></div>
						<div class="zq-case-silder-list"><a href=""><img src="../static/images/case-5.gif"></a></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--case end-->
<!--freeService-->
<div class="zq-freeService">
	<div class="zq-freeService-t">免费咨询</div>
	<div class="zq-freeService-wrap zq-width">
		<table>
			<tr>
				<td class="zq-freeService-l">公司名称</td>
				<td><input type="text" name="companyname" class="zq-input" value=""></td>
			</tr>
			<tr>
				<td class="zq-freeService-l">手机号码</td>
				<td><input type="text" name="iphone" class="zq-input" value=""></td>
			</tr>
			<tr>
				<td class="zq-freeService-l">联系人</td>
				<td class="zq-callme">
					<input type="text" name="callme" class="zq-input" value="">
					<input class="zq-radio" name="sex_bottom" checked="checked" value="先生" type="radio">
					<span>先生</span>
                    <input class="zq-radio" name="sex_bottom" value="女士" type="radio">
                    <span>女士</span>
                </td>
			</tr>
			<tr>
				<td class="zq-freeService-l">邮箱地址</td>
				<td><input type="text" name="email" class="zq-input" value=""></td>
			</tr>
			<tr>
				<td class="zq-freeService-l"></td>
				<td><a href="" class="zq-btn-orange"><span><em>提交申请</em></span></a></td>
			</tr>
		</table>
	</div>
</div>
<!--freeService end-->
<!--service box-->
<div class="zq-serviceBox" style="display:none">
	<div class="zq-serviceBox-t">
		<p>免费咨询</p>
		<div>请填写以下信息，我们收到后将分配专业建站顾问尽快与您联系</div>
	</div>
	<div class="zq-serviceBox-wrap">
		<table>
			<tr>
				<td class="zq-serviceBox-l">公司名称</td>
				<td><input type="text" name="companyname" class="zq-input" value=""></td>
			</tr>
			<tr>
				<td class="zq-serviceBox-l">手机号码</td>
				<td><input type="text" name="iphone" class="zq-input" value=""></td>
			</tr>
			<tr>
				<td class="zq-serviceBox-l">联系人</td>
				<td class="zq-callme">
					<input type="text" name="callme" class="zq-input" value="">
					<input class="zq-radio" name="sex_bottom" checked="checked" value="先生" type="radio">
					<span>先生</span>
                    <input class="zq-radio" name="sex_bottom" value="女士" type="radio">
                    <span>女士</span>
                </td>
			</tr>
			<tr>
				<td class="zq-serviceBox-l">邮箱地址</td>
				<td><input type="text" name="email" class="zq-input" value=""></td>
			</tr>
			<tr>
				<td class="zq-serviceBox-l"></td>
				<td><a href="" class="zq-btn-green"><span><em>提交申请</em></span></a></td>
			</tr>
		</table>
	</div>
</div>
<!--serviceBox end-->

<script type="text/javascript" src="../static/lib/zq.slider.js"></script>
<script type="text/javascript">

/**
 * [width description] 案例轮播
 * @type {Number}
 */
CXGSlider({
	width : 1000,							    //外框宽度
	height : 156,							    //外框高度
	parentEle : $('#zq-js-case-silder'),		//公共父节点
	icoType : 'number',						    //icon显示方式   number 数字显示方式  dot 原点显示方法 
	align : 'right',							//icon 显示对齐方向   center  left  right
	icoShow : 1,  							    //默认显示第几个   默认显示第一个
	isNext : true,
	type : 'slider',						    //动画类型      默认为淡入淡出， slider:左右滑动效果 
	time : 0
});

/**
 * GSY.dialog.tips [width description] 预约免费咨询
 * @param content 需要弹出的内容（内容可以是jQuery对象或者字符串）
 * @param options 各种选项卡
 * @type {Number}
 */
$('.zq-service-btn').click(function(event) {
	GSY.dialog.tips($('.zq-serviceBox').show(),{
		element : $(this),
		width : 650,
		mask : false,
		drag : true, //启用拖拽功能
		closeCallback : function(dialog){
			$('body').append(dialog.children().hide());
		}
	});	
});

</script>
</body>
</html>