@charset "utf-8";
/* CSS Document */
/*
*@ ue 前缀 
*@ author : gaoshiyong<gaoshiyong1272@vip.163.com>
*/
html { height:100%;}
body { margin:0; font:normal 12px/1.5 Arial,"Microsoft YaHei","微软雅黑","宋体"; color:#666; }
p,li,ul,ol,h1,h2,h3,h4,h5,h6,dl,dd,dt,img,a,div,td { margin:0px; padding:0px; border:0px; word-wrap:break-word; word-break:normal; list-style:none; }
input,textarea,select { margin:0px; padding:0px; font-size:12px;}
*{padding:0;margin:0;}
em,font,i { font-size:12px; font-weight:normal; font-style:normal;}
textarea { resize:none}
h1,h2,h3,h4,h5,h6 { font-family:Tahoma,Arial;}
li { list-style:none;}
a { color:#555; text-decoration:none; noFocusLine:expression(this.onFocus=this.blur()); outline:none; -moz-outline-style:none;-webkit-outline-style:none}
a * { cursor: pointer;}
a:active {color: #999;}
a:hover { color: #999; text-decoration:none;}
.underLine,.underLine:hover { text-decoration:none;} 
a.subLink,.subLink { color:#68749b}
.subText,.subtext { color:#777;}
.center { text-align:center;}
.centerL { text-align:left;}
.centerR { text-align:right;}
.clear { clear:both; height:0px; overflow:hidden; visibility:hidden;}
.fL { float:left!important ;_display:inline;}
.fR { float:right!important ;_display:inline;}
.fB { font-weight:bold;}
.fn14 { font-size:14px!important;}
.fn16 { font-size:14px!important;}
.nobg { background:none!important;}
.noborB { border-bottom:0px!important;}
.noborT {border-top:0px!important;}
.noborL {border-left:0px!important;}
.noborR {border-right:0px!important;}
.nobor {border:0px!important;}
.nomarR { margin-right:0px!important;}
.mar_t15 { margin-top:15px!important;}
.mar_t10 { margin-top:10px!important;}
.pad_l0 { padding-left:0!important;}
.7indent { text-indent:2em;}
.zq-width { width: 1100px;}

/**
 * btn
 */
a.zq-btn-gray,a.zq-btn-gray span,a.zq-btn-orange,a.zq-btn-green span,a.zq-btn-green,a.zq-btn-orange span,a.zq-btn-blue,a.zq-btn-blue span,a.zq-btn-nobg,a.zq-btn-nobg span { display:inline-block; vertical-align:top;  border-radius:0;}
a.zq-btn-gray span,a.zq-btn-orange span,a.zq-btn-green span,a.zq-btn-blue span,a.zq-btn-nobg span { border: 2px solid #1f2a07; height:1.25em; line-height:1.25em; padding: 0.7em 1.9em 0.8em; }
a.zq-btn-gray em,a.zq-btn-orange em,a.zq-btn-green em,a.zq-btn-blue em,a.zq-btn-nobg em  { display:inline-block; font-size:1em; line-height:1.3em; cursor:pointer; vertical-align:top; font-weight: bold;  }
a.zq-btn-gray:hover,a.zq-btn-orange:hover,a.zq-btn-green:hover,a.zq-btn-blue:hover,a.zq-btn-nobg:hover { text-decoration: none;}
a.zq-btn-3em span { padding:0.5em 4em;}

a.zq-btn-gray { background-color:#e4e4e4; color:#666; }
a.zq-btn-gray:hover { background-color:#f3f3f3; color:#000; }
a.zq-btn-gray:active { background-color:#d6d6d6; color:#000; }

a.zq-btn-blue { background-color:#28b1df; color:#fff; }
a.zq-btn-blue span { border-color: #28b1df;}
a.zq-btn-blue:hover { background-color:#28b1df; color:#fff; }
a.zq-btn-blue:active { background-color:#28b1df; color:#fff; }

a.zq-btn-orange { background-color:#ff9121; color:#fff; }
a.zq-btn-orange span { border-color: #ff9121;}
a.zq-btn-orange:hover { background-color:#ff9121; color:#fff; }
a.zq-btn-orange:active { background-color:#ff9121; color:#fff; }

a.zq-btn-nobg { background-color:#fff; color:#666; }
a.zq-btn-nobg span { border-color: #ccc; border-width: 1px;}
a.zq-btn-nobg:hover { background-color:#fff; color:#666; }
a.zq-btn-nobg:active { background-color:#fff; color:#666; }

a.zq-btn-green { background-color:#1fb074; color:#fff; }
a.zq-btn-green span { border-color: #1fb074;}
a.zq-btn-green:hover { background-color:#1fb074; color:#fff; }
a.zq-btn-green:active { background-color:#1fb074; color:#fff; }

/**
 * 文本域
 */
.zq-input { font-size: 14px; padding:0.8em 0.8em; border:1px solid #e4e4e4; color: #666; }




/**
 * 图标
 */
.zq-ico { display: inline-block; vertical-align: top; background-image: url('../images/icon.gif'); background-repeat: no-repeat; background-position: -9999px -9999px;}
.zq-ico-index { background-position: 0 2px; width: 16px; height: 16px;}
.zq-ico-shopping { background-position: 0 -48px; width: 16px; height: 16px;}
.zq-ico-hotline { background-position: 2px -98px; width: 16px; height: 16px;}


/**
 * 头部bar
 */
.zq-topbar { border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; background: #f2f2f2; width: 100%; height: 28px;}
.zq-topbar-wrap { margin: 0 auto;}
.zq-topbar-l em { margin-left: 3px;}
.zq-topbar-l { float: left; height: 28px; font-size: 0;}
.zq-topbar-l a,.zq-topbar-l span { display: inline-block; vertical-align: top; font-size: 12px; height: 16px; line-height: 16px; _line-height: 14px; padding: 6px 0;}
.zq-topbar-l span { padding: 6px 5px; color: #999;}
.zq-topbar-l .zq-index { margin-right: 15px;}
.zq-topbar-r {float: right; height: 28px; font-size: 0;}
.zq-topbar-r a,.zq-topbar-r span { display: inline-block; vertical-align: top; font-size: 12px; height: 16px; line-height: 16px;_line-height: 14px; padding: 6px 0;}
.zq-topbar-r span { padding: 6px 5px; color: #999;}
.zq-topbar-r em { margin-left: 3px;}


/**
 * 导航
 */
.zq-nav { width: 100%; height: 64px; border-bottom: 1px solid #e5e5e5;}
.zq-nav-wrap { height: 64px; margin: 0 auto;}
.zq-nav-l { height: 64px; float: left;}
.zq-nav-l a { display: block; vertical-align: top; width: 119px; height: 49px; margin: 7px 0 0; text-indent: -10000px; overflow: hidden; background: url('../images/logo.gif');}
.zq-nav-r { height: 64px; float: right; text-align: right; font-size: 0; }
.zq-nav-r a { display:inline-block; vertical-align: top; height: 64px; font-size: 16px; line-height: 64px; padding: 0 35px; font-weight: bold;  }
.zq-nav-r a:hover { background: #f1f1f1;}
.zq-nav-r a.active { background: #f1f1f1;}

/**
 * banner
 */
.zq-banner { height:400px; }
.zq-banner li,.zq-banner ul { width: 100%; height: 100%;}


/**
 * 高端设计
 */
.zq-whygood { width: 100%; padding: 60px 0;}
.zq-whygood-wrap { margin: 0 auto; }
.zq-whygood-t { text-align: center; font-size: 40px; padding: 0 0 1.5em; font-weight: bold; }
.zq-whygood-cont { background: url('../images/whygood.gif') no-repeat top center; height: 265px;}


/**
 * service
 */
.zq-service { width: 100%; padding: 60px 0; background-color: #fcfcfc;}
.zq-service-wrap { margin: 0 auto; }
.zq-service-desc { width: 100%;}
.zq-service-desc-l { width: 463px; height: 367px; float: left;}
.zq-service-desc-map { background: url('../images/china-map.gif') no-repeat top left; width: 100%; height: 100%;}
.zq-service-desc-r { margin: 0 0 0 520px; }
.zq-service-desc-t { font-size: 35px; padding-bottom: 0.6em; font-weight: bold; }
.zq-service-desc-p {}
.zq-service-desc-p p { padding-bottom: 0.6em; font-size: 20px;}
.zq-service-desc-b { font-size: 18px; padding-top: 1em;}
.zq-service-form { width: 100%; height: 250px; overflow-x: hidden; overflow-y:scroll ; margin-top: 60px; }
.zq-service-form table { background: #c6c4c4; width: 100%;}
.zq-service-form td { background:#fff; text-align: center; padding: 6px; width: 10.6%;}
.zq-service-form .zq-service-bg td { background: #e9e9e9;}
.zq-service-form td.zq-service-form-no { width:30px; }
.zq-service-form td a { text-decoration: underline;}
.zq-service-form td a:hover { text-decoration: none}
 
/**
 * products
 */
.zq-products { width: 100%; padding: 60px 0 0; }
.zq-products-wrap { margin: 0 auto; }
.zq-products-tab { width: 520px; _width: 519px; margin:0 auto; height: 60px; border:1px solid #b2b2b2; font-size: 0;}
.zq-products-tab a { width: 260px; _width: 259px; display: inline-block; vertical-align: top;  height: 60px; line-height: 60px; text-align: center; font-size: 18px; font-weight: bold;}
.zq-products-tab a.active { background: #b2b2b2; color: #fff; position: relative;}
.zq-products-tab a.active i {}
.zq-products-cont { width: 100%;}
.zq-products-item { width: 100%; }
.zq-products-item-t { width: 520px; margin:0 auto; height: 60px; padding: 1.2em 0 0;}
.zq-products-item-t a { width: 256px; display: inline-block; vertical-align: top; height: 60px; line-height: 60px; text-align: center; font-size: 14px; }
.zq-products-item-c { width: 100%; overflow: hidden;}
.zq-products-item-wrap { width: 110%;}

.zq-products-item-list { width: 28%; float: left; height: 200px; border-top: 1px dashed #ccc; padding-right: 3%; margin-top: -1px; padding-top: 25px;}
.zq-products-item-img {width: 45px; height: 45px; float: left;}
.zq-products-item-text { margin-left: 60px;}
.zq-products-item-text-t { font-size: 18px; font-weight: bold; padding-bottom: 0.6em; }
.zq-products-item-text-time {color: #999; font-size: 16px; font-weight: bold; padding-bottom: 0.2em;}
.zq-products-item-text-desc { line-height: 1.75em; font-size: 14px; color: #999; padding-bottom: 0.6em;}
.zq-products-item-text-link a { color: #f8c040; text-decoration: underline;}
.zq-products-item-text-link a:hover { text-decoration: none;}


/**
 * 服务流程
 */
.zq-process { width: 100%;}
.zq-process-wrap { margin: 0 auto; }
.zq-process-t { height: 60px; background: #fcfcfc; line-height: 60px; text-align: center; font-size: 22px; font-weight: bold; color: #666;}
.zq-process-c { position: relative; height: 100px; margin: 50px 0 40px;}
.zq-process-line { border-bottom: 1px solid #d9d9d9; height: 20px;}
.zq-process-items { position: absolute; width: 100%; height: 100px; top: -13px; left: 0px; text-align: left; font-size: 0;}
.zq-process-items span { font-size: 12px; display: inline-block; vertical-align: top; width: 10%; *width: 9.9%;}
.zq-process-items span * { display: inline-block; vertical-align: top; text-align: center; width: 100%; }
.zq-process-items span em { font-size: 14px; color: #666; padding-bottom: 5px;}
.zq-process-items span i {  height: 14px; background: url('../images/yuan.gif') no-repeat center center; }
.zq-process-items strong { padding: 10px 5px 0; width: 90px; font-weight: normal; color: #666;}


/**
 * 服务内容
 */
.zq-serviceCont { width: 100%; padding: 0 0 60px;}
.zq-serviceCont-wrap { margin: 0 auto; }
.zq-serviceCont-t { height: 60px; background: #fcfcfc; line-height: 60px; text-align: center; font-size: 22px; font-weight: bold; color: #666;}
.zq-serviceCont-cont { width: 100%; overflow: hidden; padding-top: 60px;}
.zq-serviceCont-cont-wrap { width: 110%;}
.zq-serviceCont-item { width: 22%; float: left; text-align: center;}
.zq-serviceCont-item-img {width: 120px; height: 120px; margin: 0 auto;}
.zq-serviceCont-item-t { font-size: 24px; font-weight: bold; padding: 0.5em 30px;}
.zq-serviceCont-item-desc { font-size: 14px; line-height: 1.75em; padding: 0 30px; color: #999;}
.zq-serviceCont-item-btn { padding-top: 0.8em; font-size: 14px;}


/**
 * case
 */
.zq-case { width: 100%; padding: 60px 0; background-color: #fcfcfc;}
.zq-case-wrap { margin: 0 auto; width: 1000px; }
.zq-case-t { text-align: center;}
.zq-case-h4 { font-size: 40px; font-weight: bold; line-height: 60px; padding: 0 0 0.5em;}
.zq-case-desc { font-size: 18px; }
.zq-case-silder { width: 100%; height: 156px; padding-top: 70px; position: relative;}
.zq-case-silder ul { display: inline-block; width: 100%; height: 156px; }
.zq-case-silder li { width: 100%; height: 156px; overflow: hidden; }
.zq-case-silder-wrap { width: 110%;}
.zq-case-silder-list { width: 200px; height: 156px;  float: left;}
.zq-case-silder-list a { display: inline-block; vertical-align: top; width: 100%; height: 100%;}
.zq-case-silder-list a img { width: 100%; height: 100%;}
.zq-case-silder .cxg-slider-ico { display: none;}
.zq-case-silder .cxg-slider-btn { position: absolute; width: 40px; height: 40px;}
.zq-case-silder a.next { right: 0!important; background: #eee; top:25px!important; background: url('../images/next.gif');}
.zq-case-silder a.next:hover { opacity: 0.8;filter: alpha(opacity=80);}
.zq-case-silder a.prev { left: 916px!important; background: #eee; top:25px!important; background: url('../images/prve.gif');}
.zq-case-silder a.prev:hover { opacity: 0.8;filter: alpha(opacity=80);}


/**
 * 免费咨询
 */
.zq-freeService { width: 100%; background: #f8f8f8; border-bottom: 1px solid #ececec; }
.zq-freeService-wrap { margin: 0 auto; padding: 60px 0; }
.zq-freeService-t { height: 40px; background-color: #b2b2b2; line-height: 40px; color: #fff; text-align: center; font-size: 18px }
.zq-freeService table { width: 550px; margin: 0 auto;}
.zq-freeService td { padding: 5px;}
.zq-freeService-l { text-align: right; font-size: 16px;}
.zq-freeService .zq-input { width: 400px;}
.zq-freeService .zq-callme { font-size: 0px;}
.zq-freeService .zq-callme  .zq-input { width: 150px;}
.zq-freeService .zq-callme * { display: inline-block; vertical-align: top; font-size: 14px;}
.zq-freeService .zq-callme span { margin-left: 15px;  line-height: 18px; margin-top: 11px; *margin-top: 13px;}
.zq-freeService .zq-callme .zq-radio {  margin-left: 15px; margin-top: 14px; *margin-top: 12px; *margin-right: -2px;}
.zq-freeService .zq-btn-orange { margin-top: 0.8em;}


/**
 * 免费咨询
 */
.zq-serviceBox { width: 100%; }
.zq-serviceBox-wrap { margin: 0 auto; padding: 0 0 60px; }
.zq-serviceBox-t { width: 100%;  text-align: center;}
.zq-serviceBox-t p { font-size: 30px; color: #7cbd66; font-weight: bold;}
.zq-serviceBox-t div { padding: 1.5em 0 2em; font-size: 14px; color: #999;}
.zq-serviceBox table { width: 550px; margin: 0 auto;}
.zq-serviceBox td { padding: 5px;}
.zq-serviceBox-l { text-align: right; font-size: 16px;}
.zq-serviceBox .zq-input { width: 400px;}
.zq-serviceBox .zq-callme { font-size: 0px;}
.zq-serviceBox .zq-callme  .zq-input { width: 150px;}
.zq-serviceBox .zq-callme * { display: inline-block; vertical-align: top; font-size: 14px;}
.zq-serviceBox .zq-callme span { margin-left: 15px;  line-height: 18px; margin-top: 11px; *margin-top: 13px;}
.zq-serviceBox .zq-callme .zq-radio {  margin-left: 15px; margin-top: 14px; *margin-top: 12px; *margin-right: -2px;}
.zq-serviceBox .zq-btn-green { margin-top: 0.8em; font-size: 16px;}

